html, body {
	padding: 0px;
	margin: 0px;
	background-color: #E1EAED;
}

.white {
	background-color: white;
}

a, .redhover:hover {
	text-decoration: none;
	color: red;
}

.navbar {
	height: 25px;
	margin: 0px;
	min-height: 25px;
}

.navbar2 {
	height: 50px;
	margin: 0px;
	min-height: 25px;
}


.button1:hover {
	background-image: linear-gradient(rgb(30, 45, 55), rgb(1,1,1));
}


.button1 {
	background-color: transparent;
	border: none;
	color: white;
	height: 25px;
	font-size: 10px;
	border-left: 1px solid #626a72;
	border-top: none;
}

.button2 {
	background-color: #ffc600;	
	border: none;
	color: black;
	height: 24px;
	font-size: 10px;
	border-left: 1px solid #626a72;
	border-top: none;
	font-weight: bold;
}

.row1 {
	height: 25px;
	background-image: linear-gradient(rgb(45, 56, 65), rgb(1, 12, 22));
	width: 100%;
	border-radius: 0%;
}

.row2 {
	height: 50px;
	border-bottom: 1px solid #C2C9CC;
	background-color: white;
}

  
#recherche {
	width:208px;
	height:24px;
	background: #F7F7F7;
	box-shadow:1px 1px 2px rgba(0,0,0,.3) inset;
	border-radius: 4px;
	margin-top: 12px;
}
  
#recherche .loupe {
	background:url(images/loupe.png) no-repeat 0 0;
	width:24px;
	margin-top: 4px;
	margin-left: 4px;
}
  
#recherche input {
	outline:0;
	border:0;
	margin:0;
	height:24px;
	float:left;
	display:block;
}
  
#recherche input[type=text] {
	font:300 12px HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background:none;
	width:180px;
	padding:0 9px;
	color:#666;
}

.col-md-7 {
	padding: 0px;
}

.imageicone {
	height: 20px;
	width: 20px;
	background-color: #747b83;
	margin-top: 12px;
	border-radius: 20%;
	margin-right: 3px;
	float: right;
}

.divtxtnav {
	margin-top: 12px;
		float: right;
}

.txtnav {
	color: #747b83;
	margin-right: 15px;
}

.imgtxtnav {
	width: 12px;
	height: 12px;
	margin-right: 5px;
}


.lemonde {
	width: 250px;
	height: 68px;
	
}

.center {
	text-align: center;
	margin-bottom: 0px;
}

.lemondeandtxt {
	color: #747b83;
	background-color: white;
}

.left {
	font-size: 10px;
	margin-right: 8px;
}

.right {
	font-size: 12px;
	margin-left: 8px;
}

.row3 {
	background-color: white;
	border-top: 2px solid #DAE3E6;
	border-bottom: 1px solid #DAE3E6;
	margin-top: 10px;
}

.listenav {
	height: 35px;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-size: 12px;
	position: relative;
	top: -8px;
	margin-right: -4px;
	padding: 4px;
	border-right: 1px solid #aaa;


}

.listenav2 {
	height: 35px;
	margin-bottom: 10px;
	box-sizing: border-box;
	font-size: 14px;
	position: relative;
	top: -5px;

}

.nav3 {
	height: 35px;
	box-sizing: border-box;
}

.height2 {
	height: 35px;
}

li {
	display: inline-block;
	margin-right: 0px;
	text-align: center;
	box-sizing: border-box;
	
}

.inline {
	list-style-type: none;
	height: 35px;
	padding: 0px;
	margin-bottom: 0px;
}

ul {
margin-bottom: 0px;
}

.linknone {
	text-decoration-color: none;
	color: black;
	font-weight: bold;
	display: block;
}

.linknone2 {
	text-decoration-color: none;
	font-weight: bold;
	color: #9CAFB5;
	font-size: 12px;
}

.linknone:hover {
	text-decoration-color: none;
	color: black;
	text-decoration-line: none;
	
}

/* Hover des boutons de la nav3 */

#boutonhome {
	height: 35px;
	width: 35px;
	display: inline-block;
	border-top: 4px solid grey;
	position: relative;
	top: -2px;
	line-height: 35px;
	margin-right: -4px;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

#boutonhome:hover {
	background-color: #4E5152;
	color: white;
}

.boutonhome {
	width: 15px;
	height: 15px;
}



.internationnal {
	border-top: 4px solid #6FBCD6;		
}

.internationnal:hover {
	background-color: #6FBCD6;
	color: white;
}

.politique {
	border-top: 4px solid #222287;		
}

.politique:hover {
	background-color: #222287;
	color: white;
}

.societe {
	border-top: 4px solid #FF1717;		
}

.societe:hover {
	background-color: #FF1717;
	color: white;
}

.eco {
	border-top: 4px solid #FF5E79;		
}

.eco:hover {
	background-color: #FF5E79;
	color: white;
}

.culture {
	border-top: 4px solid #FC6DC0;		
}

.culture:hover {
	background-color: #FC6DC0;
	color: white;
}

.idee {
	border-top: 4px solid #4E5152;		
}

.idee:hover {
	background-color: #4E5152;
	color: white;
}

.planete {
	border-top: 4px solid #42C260;		
}

.planete:hover {
	background-color: #42C260;
	color: white;
}

.sports {
	border-top: 4px solid #4AF759;		
}

.sports:hover {
	background-color: #4AF759;
	color: white;
}

.sciences {
	border-top: 4px solid #42C2ED;		
}

.sciences:hover {
	background-color: #42C2ED;
	color: white;
}

.pixels {
	border-top: 4px solid #4DD686;		
}

.pixels:hover {
	background-color: #4DD686; 
	color: white;
}

.campus {
	border-top: 4px solid #FC8F00;		
}

.campus:hover {
	background-color: #FC8F00;
	color: white;
}

.lemag {
	border-top: 4px solid #6FBCD6;		
}

.lemag:hover {
	background-color:;
	color: white;
}

.abonnee {
	border-top: 4px solid #FFCB5C;
	background-color: #FFCB5C;
	color: black;		
}

.abonnee:hover {
	background-color: #FFCB5C;
	color: black;
}

/* end */


/* menu4 */

#menu4 {
	background-image: linear-gradient(#2d3143, #10141d);
	height: 35px;
	margin-top: 15px;
	color: #9CAFB5;
	font-weight: bold;
	font-size: 12px;
	float: left;
	padding: 0px;
	line-height: center;
	line-height: 35px;
}

.height35 {
	height: 35px;
	display: inline-block;
}

.moment {
	width: 127px;
	background-color: #d50303;
	color: white;
}

.syrie {
	width: 48px;
}

.primaire {
	width: 152px;
}

.turquie {
	width: 64px;
}

.pollution {
	width: 80px;
}

.francais {
	width: 144px;
}

.decodeurs {
	width: 107px;
}

.bigbrowser {
	width: 92px;
}

#content {
	width: 1000px;
	height: 1930px;
	background-color: white;
	margin-left: 190px;
}

.imageprincipale {
	width: 95%;
	float: left;
}

h1 {
	color: #003366;
}

.square {
	list-style-type: square;
	color: #243391;
	width: 45%;
	margin-right: 15px;
	margin-bottom: 10px;
}

.ligngrey {
	background-color: #E1EAED;
	height: 3px;
	width: 90%;
	margin-left: 20px;
	margin-bottom: 30px;
}

#groupearticle {
	display: inline-block;
}

.article {
	width: 300px;
	height: 291px;
	display: block;
	margin-bottom: 30px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.titrearticle {
	color: #003366;
	font-size: 16px;
	font-weight: bold;
}

.imagearticle {
	width: 100%;
}

.txtarticle {
	font-size: 14px;
	color: black;
}




/* right content */

.block1 {
	width: 316px;
	height: 116px;
	border: 1px solid #E1EAED;
	margin-top: 30px;
	background-color: #EDF3F5;
	float: left;
}

.topblock1 {
	height: 25px;
	width: 50%;
	background-color: #d50303;
	float: left;
}

.topblock1-2 {
	height: 25px;
	width: 50%;
	background-image: linear-gradient(rgb(45, 56, 65), rgb(1, 12, 22));
	float: right;
}

.txttopblock1 {
	color: white;
	font-size: 10px;
	font-weight: bold;
	line-height: 25px;
}

.txtblock1 {
	color: #003366;
	padding: 10px;
	float: left;
	margin-bottom: 0px;
	font-size: 14px;
	
}

.partagez {
	width: 200px;
	height: 25px;
	border: 1px solid #c6c9cc;
	border-radius: .3em;
	background-color: #e9edf0;
	color: black;
	padding: 0px;
	margin-left: 10px;
}



.lienpartagez {
	color: #003366;
}

.lienpartagez:hover {
	text-decoration: none;
	color: #5BCCE3;
}

.block2 {
	width: 316px;
	height: 276px;
	border: 1px solid #E1EAED;
	margin-top: 30px;
	background-color: #EDF3F5;
	float: left;
}

.topblock2 {
	width: 100%;
	height: 25px;
	background-color: #d50303;
}

.txttopblock2 {
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin-left: 15px;
	line-height: 25px;
}

.txtblock2 {
	margin-bottom: 2px;
	font-size: 10px;
}

.griscolor {
	color: #666970;
}

.blue1 {
	color: #003366;
}

.jesuisunepupdemerde {
	margin-top: 25px;
}

h3 {
	margin-top: 25px;
	color: white;
	width: 312px;
	height: 25px;
	background-color: #3b5998;
	font-weight: bold;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 0px;
}

.block3 {
	width: 312px;
	height: 759px;
	border: 1px solid #E1EAED;
	background-color: #EDF1FA;

}

.sousblock3 {
	height: 67px;
	width: 100%;
	border-bottom: 1px solid #E1EAED;
	
}

.txtblock3 {
	width: 80%;
	font-size: 12px;
	display: inline-block;
	margin-top: 15px;
}

.carrenb {
	background-color: #626869;
	color: white;
	display: inline-block;
	width: 12px;
	height: 12px;
	text-align: center;
	line-height: 12px;	
	margin-right: 20px;
}

.blockcontact {
	width: 312px;
	height: 40px;
	box-shadow-top: 2px #aaa;
	background-color: #EDF1FA;
}

.partieun {
	width: 33%;
	font-size: 12px;
	font-weight: bold;
	color: black;
	line-height: 40px;
	text-align: center;
	float: left;
}

.partiedeux {
	width: 66%;
	float: right;
	margin-top: 10px;
}

.imgcontact {
	width: 20px;
	height: 20px;
	line-height: 40px;
	margin-right: 5px;
}

/* petitbloc */

.petitbloc {
	width: 50%;
	height: 64px;
}

.txtpetitbloc {
	margin-left: 8px;
	font-size: 12px;
	color: #003366;
	padding: 5px;
}

.imgptbloc {
	margin-right: 8px;
}
/* fin petitbloc */
