
body { 
	margin:0;
	padding:0;
	background: url(https://abs.twimg.com/b/front_page/v1/EU_1.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour anciens Chrome et Safari */
	background-size: cover; /* version standardisée */
	color: white;
}

a:hover {
	text-decoration: none;
}

.imageheader {
width: 20px;
height: 20px;
}

.blue {
color: blue;
}

span {
color: grey;
line-height: 4px;
}

.menuheader {
background-color: white;
font-size: 12px;
display: inline-block;
height: 41px;  
padding: 20px;
}

.menuheader:hover {
background-color: white;
font-size: 12px;
border-bottom: 4px solid #5AABD6;
}

.center {
text-align: center;
}

h1 {
font-weight: bold;
}

.header {
background-color: white;
height: 46px;
}

.margetop3 {
margin-top: 140px;
}

.divcontent {
margin-top: 82px;
font-size: 18px;
}

.identifiant {
width: 90%;
}

.decale {
margin-left: px;
}

.mdp {
width: 60%;
}

.login {
color: white;
border-radius: 20%;
font-weight: bold;
}

.block1 {
margin-top: 82px;
margin-left: 10px;
background-color: white;
text-align: center;
border-radius: 2%;
}

.block2 {
margin-left: 10px;
background-color: white;
text-align: center;
border-radius: 2%;
margin-top : 10px;
}

.orange {
background-color: #E09D22;
float: right;
}
