html {
background-color: #C7CEEB;
}


.row {
background-color: #3B5998;
height: 82px;
}

.nomargpad {
margin: 0px;
padding: 0px;
}

.form {
height: 22px;
border: none;
}

.col-md-3 {
margin-right: 0px;
padding: 0px;
}

body {
background-color: white;
}

.bigfb {
font-size: 36px;
color: white;
font-family: inherit;
height: 82px;
}

.logofb {
height: 40px;
width: 180px;
margin-top: 30px;
}

.form {
width: 90%;
}

label {
color: white;
font-size: 12px;
}

.greysmall {
color: #9CA2BA;
}

.buttonlogin {
margin-top: 32px;
font-weight: bold;
background-color: #3B5998;
font-size: 10px;
font-weight: bold;
border: 1px solid #0A1B66;
border-radius: 0%;
padding: 0px;
height: 22px;
width: 50px;
}

.content {
margin-top: 30px;
margin-bot: 30px;
}

.blocwhite {
width: 478px;
height: 643px;
background-color: white;
margin-right: 30px;
}

.center {
text-align: center;
}

h2 {
font-weight: bold;
margin-top: 40px;
}

h3 {
font-size: 24px;
}


.imageprofil {
margin-top: 40px;
text-align: center;
}

.profilp {
border-radius: 5%;
box-shadow: 4px 4px 6px #aaa;
}

.grastop {
font-weight: bold;
font-size: 18px;
margin-top: 12px;
}

.bottomdiv {
margin-top: 280px;
text-align: center;
}

.blue {
color: #4052A1;
font-weight: bold;
font-size: 14px;
}

.gris {
color: #4A4E5C;
font-weight: bold;
font-size: 14px;
}

.formbloc2 {
height: 50px;
margin-bottom: 12px;
}

.fourty {
margin-top: 12px;
width: 40%;
}

.sixty {
margin-top: 12px;
width: 55%;
margin-right: 20px;
}

.hundred {
width: 100%;
}

.sizesm {
font-size: 10px;
}

.cbox {
border-radius: 50%;
margin-right: 5px;
}

.textcheckbox {
font-weight: bold;
font-size: 20px;
margin-right: 10px;
}

select {
margin-bottom: 3px;
}

.buttoncreate {
background-image: linear-gradient(rgb(103, 174, 85), rgb(87, 136, 67));
color: white;
border: rgb(44, 81, 21);
border-radius: 5%;
font-weight: bold;
height: 40px;
width: 200px;
margin-bottom: 16px;
}

.bottompage {
background-color: white;
height: 150px;
margin-top: 30px;
}

.margefooter {
margin-right: 18px;
width: 30px;
font-size: 11px;
color: rgb(54, 88, 153);
}

hr {
margin: 0px;
}
